html,body{
    margin:0px;
}
body{
    background-color: #eff3f5;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: '微软雅黑';
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
    color:#a4afba;
}
a:hover{
    text-decoration:none;
}
.message .glyphicon{
    font-size: 20px;
    color:#dee4e8;
}
.container{
    width: 1170px;
    padding: 0;
}
/*.........information...........*/
.information{
    background: #fff;
    height: 672px;
    width: 100%;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 50px;
    position: relative;
}
.logo-register{
    width: 100%;
    height: 25px;
    background: url('../img/register/register.png');
    position: absolute;
}
.information .message{
    position: absolute;
    top: 61px;
}
.information ul{
    width: 100%;
}
.information li{
    height: 70px;
    border-bottom: 1px solid #eff3f5;
}
.information h2{
    color: #435c72;
    text-align: center;
}
.information .message{
    height: 100%;
    padding: 0;
}
.message input{
    width: 210px;
    height: 69px;
    color: #9aa7b3;
    font-size: 16px;
    text-indent: 10px;
    outline: none;
}
.message .icon{
    height: 70px;
    width: 50px;
    margin: 0 auto;
    float: left;
    position: relative;
}
.message .glyphicon{
    position: absolute;
    top: 35%;
    left: 30%;
}
.message .send{
    height: 45px;
    width: 130px;
    margin-top:12px;
    float: right;
    line-height: 45px;
    text-align: center;
    color: #0db68a;
    background: #c0f4de;
}
.message .captcha{
    height: 45px;
    width: 100px;
    margin-top:12px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
}
.message .checked{
    position: relative;
}
.message .yan{
    position: absolute;
    top: 0px;
    left: 50px;
}
.message .icon-repeat{
    width: 30px;
    float: right;

}
.message .glyphicon-repeat{
    color: #6de4b1;
    font-weight: 100;
}
.message .check-btn{
    width: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.message .last button:focus{
    background-color: #fff;
    outline: none;
}
.message .last button:hover{
    background-color: #fff;
}
.message .check-btn .btn-default{
    width: 185px;
    border: 2px solid #eff3f5;
    color: #bac2cb;
    border-radius: 0;
}
.message .teacher{
    margin-right: 20px;
}
.message .check-btn .check{
    border: 2px solid #5be0a7;
    color: #49d599;
}
.message .last{
    border: 0;
}
.message .register-btn{
    width: 390px;
}
.message .register{
    width: 100%;
    background: #5be0a7;
    color: #fff;
    border: #58d7a0;
}
.message .a-left{
    margin-top: 16px;
    float: left;
}
.message .a-right{
    margin-top: 16px;
    float: right;
}
.message .line{
    height: 35px;
    width: 600px;
    margin-top: 27px;
    margin-left: -115px;
    border-bottom: 1px solid #dee1e2;
}
.message h4{
    margin-top: 20px;
    text-align: center;
    color: #435c72;
    font-weight: 100;
}
.message .picture{
    margin-top: 20px;
    margin-left: 73px;
    width: 235px;
    height: 40px;
}
.message .picture .wechat{
    height: 55px;
    width: 55px;
    float: left;
    text-align: center;
    background: url('../img/register/register.png');
    background-position: 0px -72px;
}
.message .picture .qq{
    height: 55px;
    width: 55px;
    text-align: center;
    background: url('../img/register/register.png');
    background-position: -55px -72px;
    float: right;
}
.message .picture a{
    width: 55px;
    font-size: 13px;
}
.message .picture .lg{
    margin-top: 75px;
}
.glyphicon-repeat{
    cursor: pointer;
}

.container .message .tips{
    position:relative;
    top: 0;
    left: 0;
    color: red;
   
    float: right;
    line-height: 70px;
}

.container .message .cap{
    margin-right: -120px;

}