* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: '微软雅黑';
}

a {
    text-decoration:none;
    color: #627782;
}
a:hover,a:focus{
    text-decoration:none;
    color: #627782;
}

ul {
    list-style: none;
    margin-bottom:0;
}

@font-face {
    font-family:'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}



#list {
    background: #ffffff;
    float: left;
    padding: 0;

}

#list .bar {
    width: 380px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #627782;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
}

#list .bar i {
    color: #c1c8cc;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    left:105px;
    top: 2px;
}
#list .bar .pic1 {
    font-size:24px;
    left:103px;
    top: 1px;
}
#list .bar .pic2 {
    font-size:28px;
    left:101px;
}

#list .bar .arrow {
    position: absolute;
       left:295px;
       top: 50%;
       transform: translateY(-50%);
       margin-top: 1px;
       font-weight:bold;
       color:#667a85;
}
.second-level{
    display: none;
}
.second-level li{
    width: 100%;
   height: 60px;
   line-height: 60px;
   background:#eceff1;
   text-align: center;
   color: #5b737f;
   font-size: 17px;
   font-weight:500;
}
#list .second-level li a:hover{
    color:#5ce1a8;
}
#list .bar .line{
    width: 5px;
    height: 60px;
    background: #5ce1a8;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
.click{
    color:#5ce1a8;
}
